body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  

  .App {
    text-align: center;
  }
  
  /* Add more global styles here as needed */
  
  /* Styles for hyperlinks */
  a {
    text-decoration: none;
    color: #ff9900;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ffbd07;
  }