.navbar {
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  background-color: aqua;
  height: 80px;
  color: var(--color-brand-primary);
  justify-content: space-between;
  margin-bottom: 15px;
  
}

.navLink {
  background-color: transparent;
  border: none;
  color: rgb(207, 15, 15);
  cursor: pointer;
  text-align: right;
  display: flex;
  width: 40px;
  height: auto;
  margin: 10px ;
  cursor: pointer;

}

.navLink:hover {
  background-color: #e0e0e0;
}

.navLink:focus {
  outline: none;
}

.navLink p {
  margin-top: 5px;
  font-size: 14px;
  color: #fff;
}

.navLink a {
  text-decoration: none;
  color: inherit;
}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
}

.btn-outline-success:hover {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card-container-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 100px;
}

.card {
  display: flex;
  background-color: #9eaace;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 500px; 
  height: 400px;
  transition: transform 0.2s ease-in-out;
}
.card-one {
  display: flex;
  background-color: #9eaace;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 900px; 
  height: 500px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.card-side {
  flex: 1;
  padding: 20px;
}

.card-image {
  background-color: #ebf0f0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image img {
  max-width: 100%;
  width: 300px; 
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.card-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-details h1 {
  font-size: 1.2rem; 
  margin: 0;
}

.card-details p {
  margin-top: 20px; 
  flex-grow: 1;
}

.card-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-details li {
  margin-bottom: 5px;
}

.link-button {
  display: inline-block;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-top: 20px; 
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.link-button:hover {
  background-color: #218838;
}


.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.product {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.product-image {
  max-width: 35%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.product-price {
  font-size: 1.5rem;
  color: #e67e22;
  margin: 5px 0;
}

.product-description {
  font-size: 0.9rem;
  margin: 10px 0;
}

.product-rank {
  font-size: 0.9rem;
  margin: 5px 0;
}

.product-created {
  font-size: 0.9rem;
  margin: 5px 0;
  color: #777;
}

.add-to-cart-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #2980b9;
}

.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin: 10px 0;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
/* styles.css */

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin: 10px 0;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}