.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 300px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Product image */
.card-image img {
  max-width: 95%;
  height: 200px; /* Set a fixed height for consistent image size */
  object-fit: cover; /* Maintain aspect ratio and cover container */
  border-top-left-radius: 20px;
  border-top-right-radius: 15px;
}

/* View item link */
.view-item-link {
  display: block;
  background-color: #e6b11f;
  color: #fff;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  transition: background-color 0.3s ease;
}

.view-item-link:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Product details */
.card-details {
  padding: 20px;
}

/* Product name */
.product-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Product description */
.product-description {
  font-size: 12px;
  font-style: oblique;
  margin-bottom: 10px;
  font-weight: 800;
  color: #333; /* Darker text color for better readability */
}

/* Product info list */
.product-info {
  list-style: none;
  padding: 1px;
  margin: 1px;
}

/* Product info list items */
.product-info li {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Ranking */
.product-info li:first-child {
  color: #6d4f17;
  font-weight: bold;
}

/* Unit price */
.product-info li:last-child {
  color: #ff8800; /* Green color for price */
  font-weight: bold;
}
