/* Styling for the entire fly menu container */
.fly-menu {
    background-color: #ffffff;
    color: #000000;
    padding: 14px;
  }
  
  /* Styling for the navigation links */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-link {
    text-decoration: none;
    color: #132b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-size: 13px;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .nav-link p {
    margin-top: 5px;
    font-size: 12px;
  }
  
  /* Hover effect for navigation links */
  .nav-link:hover {
    opacity: 0.8;
    transform: translateY(-2px);
  }
  
  /* Styling for the shopping cart icon */
  .nav-link.cart-link:hover {
    background-color: #ff8800;
    border-radius: 50%;
    padding: 10px;
  }
  
  /* Optional: Add more styles as needed */
  